.goods-table-container th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.goods-table-container th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.goods-table-container td img {
  height: 100px;
  width: auto;
}

.goods-table-container tr:hover {
  background-color: #f5f5f5;
}