.filter__items {
    box-sizing: border-box;
    padding: 10px 10px;
}

.filter__items > .filter__items-container {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    padding: 0 10px;
    overflow-y: scroll;
    border: 2px solid #ccc;
    border-radius: 6px;
}